body {
	background-color: #000;
	margin: 0;
	overflow: hidden;
}

h1, sub {

	text-shadow: -2px -2px 0 #ff6, 2px -2px 0 #ff6, -2px 2px 0 #ff6, 2px 2px 0 #ff6;
}

.content {
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 350%;
	font-family: trebuchet;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

.content:after {
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 40%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
	pointer-events: none;
}

.scroll_content {
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 4s infinite;
}

.logo_content {
	position: absolute;
	width: 16em;
	height: 30em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 300%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	position: absolute;
	top: 20%;
	animation: stay 4s linear forwards 1;
	text-align: center;
}

p {
	color: #ff6;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -100%; }
}

@keyframes stay {
	100% { opacity: 0; }
}